{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      // https://www.npmjs.com/package/@babel/plugin-proposal-class-properties
      "@babel/plugin-proposal-class-properties", {}
    ],
    [
      // https://github.com/babel/babel/tree/master/packages/babel-plugin-transform-react-jsx
      "@babel/plugin-transform-react-jsx", {}
    ],
    [
      // https://github.com/babel/babel/tree/master/packages/babel-plugin-transform-spread
      "@babel/plugin-syntax-object-rest-spread", {}
    ],
    [
      // https://www.npmjs.com/package/babel-plugin-transform-object-rest-spread
      "@babel/plugin-proposal-object-rest-spread"
    ],
    [
      // https://www.npmjs.com/package/@babel/plugin-proposal-export-default-from
      "@babel/plugin-proposal-export-default-from"
    ],
    [
      // https://www.npmjs.com/package/@babel/plugin-syntax-dynamic-import
      "@babel/plugin-syntax-dynamic-import"
    ]
  ]
}